<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Minor WOT</title>
<h1>Scores</h1>
<div>
  <span><%= player1 %></span>
  <span><%= player2 %></span>
</div>
<script>
  const ws = new WebSocket('ws://localhost:3000');
</script>
