@font-face {
  font-family: 'Pixel Heading';
  src: url('pixel.woff2') format('woff2'),
       url('pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixel';
  src: url('pixelmix.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  user-select: none;
}

html {
  height: 100%;
  cursor: url(pointer.png) -15 0, auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0;
  font-family: 'Pixel', sans-serif;
  background-image: url('/pow-star.png');
  animation: animatedBackground 1s linear infinite;
}

h1 {
  font-family: 'Pixel Heading', cursive;
  font-size: 2em;
  color: white;
  text-shadow: 0 0.1em 0 black;
}

body.controller {
  justify-content: space-between;
  filter: brightness(200%);
  background-image: none;
  animation: none;
}

body.controller > *:not(.back) {
  filter: brightness(50%);
}

body.controller #score-goal {
  display: block;
}

body.controller .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

body.controller.won {
  animation: win-back .75s linear infinite alternate;
}

body.controller.won .back {
  display: none;
}

body.controller.lost {
  filter: brightness(500%) grayscale(100%);
}

body.started #logo {
  top: 1.4rem;
  margin-bottom: 2rem;
}

body.started #logo h1 {
  top: 0;
}

body.started #logo img {
  display: none;
}

body.started #setup, body.started #app-banner,
body.ended #setup, body.ended #app-banner {
  display: none;
}

body.started #score-goal {
  display: block;
}

body.started #players span,
body.ended #players span {
  opacity: 1;
}

body.ended #reset {
  display: block;
}

@media (min-width: 40em) {
  body.started #logo {
    top: -4rem;
    margin-bottom: 6rem;
  }

  body.started #logo h1 {
    top: 11rem;
  }

  body.started #logo img {
    display: block;
  }

  body.started #players img,
  body.ended #players img {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 3em;
  }

  body.started #players span,
  body.ended #players span {
    display: block;
  }
}

#app-banner {
  width: 100%;
}

#app-banner a, #message {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  background-color: #15d7d4;
}

@media (min-width: 40em) {
  #app-banner {
    display: none;
  }
}

#logo {
  position: relative;
  top: -4rem;
  width: 11rem;
  margin: 0 auto 6rem;
  animation: flow 1.4s ease-in-out infinite alternate;
}

#logo h1 {
  position: relative;
  top: 11rem;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: -.8rem;
}

#logo img {
  display: block;
  position: absolute;
  top: 6rem;
  z-index: -1;
  width: 3rem;
  image-rendering: pixelated;
}

#logo img:first-of-type {
  left: 2rem;
  animation: pulsateLeft 1.4s .3s infinite alternate;
}

#logo img:last-of-type {
  right: 2rem;
  animation: pulsateRight 1.4s infinite alternate;
}

#logo span {
  display: inline-block;
  animation: wave .3s infinite alternate;
}

#logo span:nth-child(1) {
  animation-delay: -0.7s;
  color: #780a8c;
}

#logo span:nth-child(2) {
  animation-delay: -0.6s;
  color: #8c0a7d;
}

#logo span:nth-child(3) {
  animation-delay: -0.5s;
  color: #a00a6e;
}

#logo span:nth-child(4) {
  animation-delay: -0.4s;
  color: #b40a96;
}

#logo span:nth-child(5) {
  animation-delay: -0.3s;
  color: #b40a96;
}

@media (min-width: 40em) {
  #logo {
    width: initial;
    margin: 0 auto 10rem;
  }

  #logo h1 {
    top: 16rem;
    font-size: 3.4em;
    letter-spacing: -1rem;
  }

  #logo img {
    width: 7rem;
  }

  #logo img:first-of-type {
    left: 0;
  }

  #logo img:last-of-type {
    right: 0;
  }
}

#setup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 1.6rem;
  padding: 2rem 0;
  font-family: 'Pixel Heading', cursive;
  font-size: 3rem;
  text-align: center;
}

#setup > * {
  max-width: calc(100% / 3);
  transition: .3s ease;
}

#setup input {
  margin: 0 1rem;
  text-align: center;
  pointer-events: none;
  border: 0;
  background-color: transparent;
}

#setup button[type=submit] {
  display: block;
  width: 75%;
  max-width: initial;
  margin-top: .4em;
}

@media (min-width: 40em) {
  #setup #min:hover,
  #setup #plus:hover {
    transform: scale(1.2);
  }

  #setup #min:active,
  #setup #plus:active {
    transform: scale(0.9);
  }

  #setup button[type=submit]:hover {
    transform: scaleX(1.4);
  }

  #setup button[type=submit]:active {
    transform: scaleX(0.8);
  }
}

#reset {
  display: none;
  margin: 2em 0;
  padding: .6em;
  font-size: 1.4em;
}

#score-goal {
  display: none;
  width: 100%;
  padding: 1em;
  color: #fff;
  text-align: center;
  background-color: #222;
}

#score-goal::before {
  content: "First to: ";
}

#players {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

#players ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#players li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 3rem;
  padding: 0 1rem;
  filter: brightness(200%);
}

#players li.won {
  filter: none;
  animation: win-back .75s linear infinite alternate;
}

#players li.lost {
  color: #ccc;
  filter: grayscale(100%);
}

#players img {
  height: 70%;
  max-height: 2em;
  filter: brightness(50%);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#players h2 {
  /* Needs styling */
}

#players span {
  opacity: 0;
}

@media (min-width: 40em) {
  #players ul {
    flex-direction: row;
  }

  #players li {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    min-height: initial;
    padding: 0;
  }

  #players img {
    width: 5em;
    height: initial;
    max-height: initial;
  }

  #players span {
    display: none;
    opacity: 1;
  }
}

button {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: .6rem;
  color: #fff;
  border: none;
  background-color: #b9444d;
}

button::before,
button::after {
  display: block;
  position: absolute;
  top: 50%;
  width: .5rem;
  height: calc(100% - 1rem);
  text-align: center;
  content: "";
  background-color: inherit;
  transform: translateY(-50%);
}

button::before {
  left: -.5rem;
}

button::after {
  right: -.5rem;
}

button:focus {
  outline: 0; /* just because */
}

div[data-clientid] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: visible;
  pointer-events: none;
  filter: grayscale(100%);
  background-image: url('/pointer.png');
  background-repeat: no-repeat;
  transition: transform 150ms ease;
  opacity: 1;
}

#bigredbutton {
  position: relative;
  width: 70vw;
  height: 70vw;
  margin-bottom: 2em;
  appearance: none;
  background-color: white;
  background-image: url('/button-controller.png');
  background-size: 200%;
  background-position-y: 15%;
  background-repeat: no-repeat;
}

#bigredbutton:focus {
  outline: 0;
}

#bigredbutton:active {
  background-position-x: 100%;
}

#bigredbutton:disabled {
  filter: brightness(20%) grayscale(100%);
}

@media (orientation: landscape) {
  #bigredbutton {
    width: 70vh;
    height: 70vh;
  }
}

@keyframes pulsateRight {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(10deg);
  }
}

@keyframes pulsateLeft {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(-10deg);
  }
}

@keyframes wave {
  from {
    transform: translateY(0);
    color: blue;
  }

  to {
    transform: translateY(-35px);
  }
}

@keyframes flow {
  from {
    transform: scale(.7) rotate(-2.5deg);
  }

  to {
    transform: scale(1) rotate(2.5deg);
  }
}

@keyframes win-back {
  0% {
    background-color: #f7b8f8;
  }

  50% {
    background-color: #b9f8b8;
  }

  100% {
    background-color: #b8f8f7;
  }
}

@keyframes fadeout {
  from {
    opacity: .7;
  }

  to {
    opacity: 0;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: -400px 400px
  }

  100% {
    background-position: 0 0
  }
}
