/* Font includes */
@font-face {
  font-family: 'Pixel Heading';
  src: url('pixel.woff2') format('woff2'),
       url('pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('pixelmix.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General styling */
* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  user-select: none;
}

html {
  height: 100%;
  cursor: url(pointer.png) -15 0, auto;
}

body {
  margin: 0;
  height: 100%;
}

input {
  user-select: text;
}

[data-root] > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-family: 'Pixel', sans-serif;
}

[data-root] > div:not(.controller) {
  background-image: url('/pow-star.png');
  animation: animatedBackground 1s linear infinite;
}

h1 {
  font-family: 'Pixel Heading', cursive;
  font-size: 2em;
  color: white;
  text-shadow: 0 0.1em 0 black;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: .6rem;
  color: #fff;
  border: none;
  background-color: #b9444d;
}

button[disabled] {
  filter: grayscale(100%);
}

button::before,
button::after {
  display: block;
  position: absolute;
  top: 50%;
  width: .5rem;
  height: calc(100% - 1rem);
  text-align: center;
  content: '';
  background-color: inherit;
  transform: translateY(-50%);
}

button::before {
  left: -.5rem;
}

button::after {
  right: -.5rem;
}

button:focus {
  outline: 0; /* just because */
}

/* Banner styling */
#banner {
  width: 100%;
}

#banner a {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1em;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  background-color: #15d7d4;
}

@media (min-width: 40em) {
  #banner {
    display: none;
  }
}

/* Logo styling */
#logo {
  position: relative;
  top: -3rem;
  width: 11rem;
  margin: 0 auto 6rem;
  animation: flow 1.4s ease-in-out infinite alternate;
}

#logo h1 {
  position: relative;
  top: 11rem;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: .2rem;
}

#logo img {
  display: block;
  position: absolute;
  top: 6rem;
  z-index: -1;
  width: 3rem;
  image-rendering: pixelated;
}

#logo img:first-of-type {
  left: 2rem;
  animation: pulsateLeft 1.4s .3s infinite alternate;
}

#logo img:last-of-type {
  right: 2rem;
  animation: pulsateRight 1.4s infinite alternate;
}

#logo span {
  display: inline-block;
  animation: wave .3s infinite alternate;
}

#logo span:nth-child(1) {
  animation-delay: -0.7s;
  color: #780a8c;
}

#logo span:nth-child(2) {
  animation-delay: -0.6s;
  color: #8c0a7d;
}

#logo span:nth-child(3) {
  animation-delay: -0.5s;
  color: #a00a6e;
}

#logo span:nth-child(4) {
  animation-delay: -0.4s;
  color: #b40a96;
}

#logo span:nth-child(5) {
  animation-delay: -0.3s;
  color: #b40a96;
}

@media (min-width: 40em) {
  #logo {
    width: initial;
    margin: 0 auto 10rem;
  }

  #logo h1 {
    top: 16rem;
    font-size: 3.4em;
    letter-spacing: 1rem;
  }

  #logo img {
    width: 7rem;
  }

  #logo img:first-of-type {
    left: 0;
  }

  #logo img:last-of-type {
    right: 0;
  }
}

/* Tweet styling */
#tweet {
  position: absolute;
  max-width: 16em;
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  color: #ff0;
  animation: splash-text 1s ease-in-out alternate infinite;
}

#tweet .flash-text {
  animation: flash-text 1s ease-in-out alternate infinite;
}

/* Lobby styling */
[data-root] > div.index {
  justify-content: space-between;
}

#no-games {
  padding: 1em;
  border: 2px solid #222;
  background-color: rgba(255, 255, 255, .5);
}

#games-list {
  width: 95%;
  max-width: 25rem;
}

#games-list h2 {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

#games-list ul {
  width: 100%;
  border: 2px solid #222;
  background-color: rgba(255, 255, 255, .5);
}

#games-list li {
  position: relative;
  border-bottom: 2px solid #222;
}

#games-list li:last-of-type {
  border-bottom: 0;
}

#games-list li.playing a {
  background-color: rgba(0, 255, 0, .5);
}

#games-list li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.4em;
  text-decoration: none;
  color: #222;
}

#games-list li a span {
  padding-left: 1em;
  border-left: 2px solid #999;
}

/* Setup for max-score styling */
#setup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 1.6rem;
  padding: 2rem 0;
  font-family: 'Pixel Heading', cursive;
  font-size: 3rem;
  text-align: center;
}

#setup > * {
  max-width: calc(100% / 3);
  transition: .3s ease;
}

#setup input {
  margin: 0 1rem;
  text-align: center;
  /* pointer-events: none; */
  border: 0;
  padding-bottom: .2em;
  border-bottom: .2em solid black;
  background-color: transparent;
}

#setup button[type=submit] {
  display: block;
  width: 75%;
  max-width: initial;
  margin-top: .4em;
}

/* New player form styling */
.new-player form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 25rem;
}

.new-player form * {
  display: block;
}

.new-player label {
  text-align: center;
}

.new-player input[type="text"] {
  margin: 1.2em 0;
  padding: .5em;
  font-size: 1em;
  text-align: left;
}

/* Joined players styling */
[data-root] > div.room {
  justify-content: space-between;
}

[data-root] > div.room a {
  margin-top: 2em;
}

input[name=gameName] {
  margin-top: 5em;
  border-radius: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1em;
}

#players {
  flex-basis: 13em;
  position: relative;
  width: 100%;
}

#players ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

#players li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 3rem;
  padding: 0 1rem;
  filter: brightness(200%);
}

#players li.won {
  filter: none;
  animation: win-back .75s linear infinite alternate;
}

#players li.lost {
  color: #ccc;
  filter: grayscale(100%);
}

#players input[type="text"] {
  min-width: 5em;
  padding: .5em;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, .25);
  transition: .1s ease-in-out;
}

#players input[type="text"]:focus {
  width: 15em !important;
}

#players img {
  order: -1;
  height: 70%;
  max-height: 2em;
  filter: brightness(50%);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#players li button.leave {
  display: none;
  color: #222;
  background-color: #fff;
  filter: brightness(50%);
}

@media (min-width: 40em) {
  #players ul {
    flex-direction: row;
    height: 100%;
  }

  #players li {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    min-height: initial;
    padding: 0;
  }

  #players img {
    order: 0;
    width: 3em;
    height: initial;
    max-height: initial;
    margin: 1rem 0;
  }

  #players h2 {
    margin: 1.6em 0 .8em;
  }

  #players li button.leave {
    display: block;
  }
}

/* Room specific styling */
#score-goal {
  width: 100%;
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: #222;
}

/* Controller styling */
[data-root] > div.controller {
  justify-content: space-between;
  filter: brightness(200%);
  background-image: none;
  animation: none;
}

[data-root] > div.controller > *:not(.back) {
  filter: brightness(50%);
}

[data-root] > div.controller.won {
  animation: win-back .75s linear infinite alternate;
  filter: none;
}

[data-root] > div.won .back {
  display: none;
}

[data-root] > div.controller.lost {
  filter: brightness(500%) grayscale(100%);
}

[data-root] > div.controller .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

[data-root] > div.controller h1 {
  line-height: 1.4;
  text-align: center;
}

[data-root] > div.controller #score-goal {
  display: block;
}

[data-root] > div.controller form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  padding: 2em;
  transform: translateY(-50%);
}

[data-root] > div.controller form > * {
  display: block;
  margin: 1rem 0;
}

[data-root] > div.controller label input {
  margin-top: 1rem;
  padding: .5em;
  font-size: 1em;
  border: 1px solid #222;
}

[data-root] > div.controller button[type=submit] {
  padding: .6em;
  font-size: 1.4em;
}

/* Controller button styling */
#controller-button {
  position: relative;
  width: 70vw;
  height: 70vw;
  margin-bottom: 2em;
  appearance: none;
  background-color: white;
  background-image: url('/button-controller.png');
  background-size: 200%;
  background-position-y: 15%;
  background-repeat: no-repeat;
}

#controller-button:focus {
  outline: 0;
}

#controller-button:active {
  background-position-x: 100%;
}

#controller-button:disabled {
  filter: grayscale(100%);
}

@media (orientation: landscape) {
  #controller-button {
    width: 70vh;
    height: 70vh;
  }
}

/* Animation declarations */
@keyframes pulsateRight {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(10deg);
  }
}

@keyframes pulsateLeft {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(-10deg);
  }
}

@keyframes wave {
  from {
    transform: translateY(0);
    color: blue;
  }

  to {
    transform: translateY(-35px);
  }
}

@keyframes flow {
  from {
    transform: scale(.7) rotate(-2.5deg);
  }

  to {
    transform: scale(1) rotate(2.5deg);
  }
}

@keyframes win-back {
  0% {
    background-color: #f7b8f8;
  }

  50% {
    background-color: #b9f8b8;
  }

  100% {
    background-color: #b8f8f7;
  }
}

@keyframes fadeout {
  from {
    opacity: .7;
  }

  to {
    opacity: 0;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: -400px 400px
  }

  100% {
    background-position: 0 0
  }
}

@keyframes splash-text {
  from {
    transform: translate(6em, 8em) rotate(-16deg) scale(.9);
  }

  to {
    transform: translate(6em, 8em) rotate(-16deg) scale(1.1);
  }
}

@keyframes flash-text {
  0% {
    color: #bfff00;
  }

  50% {
    color: #ffff00;
  }

  100% {
    color: #ffbf00;
  }
}
