/* Font includes */
@font-face {
  font-family: 'Pixel Heading';
  src: url('pixel.woff2') format('woff2'),
       url('pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('pixelmix.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General styling */
* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  user-select: none;
}

html {
  height: 100%;
  cursor: url(pointer.png) -15 0, auto;
}

body {
  margin: 0;
  height: 100%;
}

[data-root] > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-family: 'Pixel', sans-serif;
}

[data-root] > div:not(.controller) {
  background-image: url('/pow-star.png');
  animation: animatedBackground 1s linear infinite;
}

h1 {
  font-family: 'Pixel Heading', cursive;
  font-size: 2em;
  color: white;
  text-shadow: 0 0.1em 0 black;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: .6rem;
  color: #fff;
  border: none;
  background-color: #b9444d;
}

button[disabled] {
  filter: grayscale(100%);
}

button::before,
button::after {
  display: block;
  position: absolute;
  top: 50%;
  width: .5rem;
  height: calc(100% - 1rem);
  text-align: center;
  content: '';
  background-color: inherit;
  transform: translateY(-50%);
}

button::before {
  left: -.5rem;
}

button::after {
  right: -.5rem;
}

button:focus {
  outline: 0; /* just because */
}

/* Logo styling */
#logo {
  position: relative;
  top: -4rem;
  width: 19rem;
  animation: flow 1.4s ease-in-out infinite alternate;
}

#logo h1 {
  position: relative;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: 1rem;
  margin: 0;
}

#logo img {
  display: block;
  position: absolute;
  top: -12rem;
  z-index: -1;
  width: 3rem;
  image-rendering: pixelated;
}

#logo img:first-of-type {
  left: 2rem;
  animation: pulsateLeft 1.4s .3s infinite alternate;
}

#logo img:last-of-type {
  right: 2rem;
  animation: pulsateRight 1.4s infinite alternate;
}

#logo span {
  display: inline-block;
  animation: wave .3s infinite alternate;
}

#logo span:nth-child(1) {
  animation-delay: -0.7s;
  color: #780a8c;
}

#logo span:nth-child(2) {
  animation-delay: -0.6s;
  color: #8c0a7d;
}

#logo span:nth-child(3) {
  animation-delay: -0.5s;
  color: #a00a6e;
}

#logo span:nth-child(4) {
  animation-delay: -0.4s;
  color: #b40a96;
}

#logo span:nth-child(5) {
  animation-delay: -0.3s;
  color: #b40a96;
}

@media (min-width: 40em) {
  #logo h1 {
    font-size: 3.4em;
  }

  #logo img {
    width: 7rem;
  }

  #logo img:first-of-type {
    left: 0;
  }

  #logo img:last-of-type {
    right: 0;
  }
}

/* Setup for max-score styling */
#setup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 1.6rem;
  padding: 2rem 0;
  font-family: 'Pixel Heading', cursive;
  font-size: 3rem;
  text-align: center;
}

#setup > * {
  max-width: calc(100% / 3);
  transition: .3s ease;
}

#setup input {
  margin: 0 1rem;
  text-align: center;
  /* pointer-events: none; */
  border: 0;
  padding-bottom: .2em;
  border-bottom: .2em solid black;
  background-color: transparent;
}

#setup button[type=submit] {
  display: block;
  width: 75%;
  max-width: initial;
  margin-top: .4em;
}

/* Joined players styling */
[data-root] > div.room {
  justify-content: space-between;
}

[data-root] > div.room a {
  margin-top: 2em;
}

#players {
  flex-basis: 13em;
  position: relative;
  width: 100%;
}

#players ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#players li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 3rem;
  padding: 0 1rem;
  filter: brightness(200%);
}

#players li.won {
  filter: none;
  animation: win-back .75s linear infinite alternate;
}

#players li.lost {
  color: #ccc;
  filter: grayscale(100%);
}

#players img {
  height: 70%;
  max-height: 2em;
  filter: brightness(50%);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#players span {
  opacity: 0;
}

@media (min-width: 40em) {
  #players ul {
    flex-direction: row;
  }

  #players li {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    min-height: initial;
    padding: 0;
  }

  #players img {
    width: 5em;
    height: initial;
    max-height: initial;
  }

  #players h2 {
    margin: 1.6em 0 .8em;
  }

  #players span {
    opacity: 1;
  }
}

/* Controller styling */
.controller {
  justify-content: space-between;
  filter: brightness(200%);
  background-image: none;
  animation: none;
}

.controller > *:not(.back) {
  filter: brightness(50%);
}

.controller.won {
  animation: win-back .75s linear infinite alternate;
  filter: none;
}

.won .back {
  display: none;
}

.controller.lost {
  filter: brightness(500%) grayscale(100%);
}

.controller .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.controller #score-goal {
  display: block;
}

.controller form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  padding: 2em;
  transform: translateY(-50%);
}

.controller form > * {
  display: block;
  margin: 1rem 0;
}

.controller label input {
  margin-top: 1rem;
  padding: .5em;
  font-size: 1em;
  border: 1px solid #222;
}

.controller button[type=submit] {
  padding: .6em;
  font-size: 1.4em;
}

/* Controller button styling */
#bigredbutton {
  position: relative;
  width: 70vw;
  height: 70vw;
  margin-bottom: 2em;
  appearance: none;
  background-color: white;
  background-image: url('/button-controller.png');
  background-size: 200%;
  background-position-y: 15%;
  background-repeat: no-repeat;
}

#bigredbutton:focus {
  outline: 0;
}

#bigredbutton:active {
  background-position-x: 100%;
}

#bigredbutton:disabled {
  filter: brightness(20%) grayscale(100%);
}

@media (orientation: landscape) {
  #bigredbutton {
    width: 70vh;
    height: 70vh;
  }
}

/* Animation declarations */
@keyframes pulsateRight {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(10deg);
  }
}

@keyframes pulsateLeft {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(-10deg);
  }
}

@keyframes wave {
  from {
    transform: translateY(0);
    color: blue;
  }

  to {
    transform: translateY(-35px);
  }
}

@keyframes flow {
  from {
    transform: scale(.7) rotate(-2.5deg);
  }

  to {
    transform: scale(1) rotate(2.5deg);
  }
}

@keyframes win-back {
  0% {
    background-color: #f7b8f8;
  }

  50% {
    background-color: #b9f8b8;
  }

  100% {
    background-color: #b8f8f7;
  }
}

@keyframes fadeout {
  from {
    opacity: .7;
  }

  to {
    opacity: 0;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: -400px 400px
  }

  100% {
    background-position: 0 0
  }
}
