<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  @font-face {
    font-family: 'pixel';
    src: url('pixel.woff2') format('woff2'),
         url('pixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: inherit;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'pixel', cursive;
  }

  h1 {
    color: white;
    font-size: 5em;
  }

  #bigredbutton {
    appearance: none;
    width: 50vw;
    height: 50vw;
    background-color: rgb(122, 12, 12);
    border: 5px solid white;
    box-shadow: 0 15px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
  }

  #bigredbutton:focus {
    outline: 0;
  }

  #bigredbutton:active {
    box-shadow: none;
    top: 15px;
  }
</style>

<body
  <% if(player) { %>
    style="background-color: rgb(<%= player.color[1] %>, <%= player.color[0] %>, <%= player.color[2] %>)"
  <% } %>
>
  <% if (!player) { %>
  <form method="POST" action="/controller">
    <label>Enter your name:
      <input type="text" name="name" />
    </label>
    <button type="submit">Join game!</button>
  </form>
  <% } else { %>
    <h1><%= name %></h1>
    <button id="bigredbutton"></button>
  <% } %>
</body>
