<%- include partials/head %>
<%- include partials/logo %>

<% if (Object.keys(rooms).length > 0) { %>
  <ul>
    <% Object.keys(rooms).forEach(function (room) { %>
    <li><a href="<%= room.id %>"></a></li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No Luaus found</p>
<% } %>

<form method="post" action="/">
  <button>Create Luau</button>
</form>

<script src="/app.js"></script>
