<%- include partials/head %>

<form method="POST" action="/new-player/<%= gameID %>">
  <label>Enter your name:
    <input type="text" name="name" />
  </label>
  <button type="submit">Join game!</button>
</form>
